<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create frame</title>
</head>
<body>
    
    <form action="/board/create_process" method="post">
        <p><label for="title">
            <input type="text" name="title" id="title" placeholder="title">
        </label></p>
        <p><label for="content">
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </label></p>
        <p><label for="writer">
            <input type="text" name="writer" id="writer" placeholder="writer" value="{{writer}}" readonly>
        </label></p>
        <input type="submit" value="create">
    </form>
</body>
</html>