<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
</head>
<body>
  
  {% if type === 'list' %}
  <form action="/board/create" method="get">
    <input type="submit" value="create">
  </form>
    <table>
      <tr>
        <td>id</td>
        <td>title</td>
        <td>writer</td>
        <td>views</td>
        <td>createdAt</td>
    </tr>
    {% for board in boards %}     
      <tr>
        <td>{{board.id}}</td>
        <td><a href="/board/{{board.id}}">{{board.title}}</a></td>
        <td>
          {{board.writer}}
        </td>
        <td>{{board.views}}</td>
        <td>{{board.createdAt}}</td>
      </tr>
      {% endfor %}
    </table>
    

      {% elif type === 'view' %}
      <table>
        <tr>
        <td>title</td>
        <td>content</td>
        <td>writer</td>
        <td>views</td>
        <td>createdAt</td>
        </tr>     
      <tr>
        <td>{{boards.title}}</td>
        <td>{{boards.content}}</td>
        <td>{{boards.writer}}</td>
        <td>{{boards.views}}</td>
        <td>{{boards.createdAt}}</td>
      </tr>
      </table>
      <p>-------------------------------</p>
      
      <table>
        <tr>
          <td>commentWriter</td>
          <td>comments</td>
        </tr>
        
        <tr>
          <td>{{comment.commentWriter}}</td>
          <td>{{comment.comments}}</td>
        </tr>
        
      </table>
      
      <form action="/board/update/{{boards.id}}" method="post">
          <input type="submit" value="update">
      </form>
      <form action="/board/delete/{{boards.id}}" method="post">
      <input type="submit" value="delete">
      </form>
      <input type="button" value="list" onclick="location.href='/board'">

        <form action="/board/comment_process" method="post">
          <input type="text" name="commentWriter" id="commentWriter" placeholder="commentWriter" >
          <input type="text" name="comments" id="comments" placeholder="comments" >
          <input type="submit" value="register">
        </form>

      {% elif type === 'create' %}
      <form action="/board/create_process" method="post">
          <p><label for="title">
              <input type="text" name="title" id="title" placeholder="title">
          </label></p>
          <p><label for="content">
              <textarea name="content" id="content" cols="30" rows="10"></textarea>
          </label></p>
          <p><label for="writer">
              <input type="text" name="writer" id="writer" placeholder="writer" value="{{writer}}" readonly>
          </label></p>
          <input type="submit" value="create">
      </form>
      
      
      {% elif type === 'update' %}
      <form action="/board/update_process/{{boards.id}}" method="post">
          <p>title: <input type="text" name="updateTitle" value={{boards.title}} ></p>
          <p>content: <input type="text" name="updateContent" value={{boards.content}}></p>
          <input type="submit" value="update">
      </form>
      <input type="button" value="cancel" onclick="location.href='/board'">
      {% endif %}

</body>
</html>