<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/CSS/layout.css" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="user">user</div>
        <div id="nav-header">
          <div id="logo">
            <img src="/img\logo.gif" alt="로고입니다" />
          </div>
          <div id="nav">네비</div>
        </div>
      </div>
      <div id="content">{% block content %} {% endblock %}</div>
      <div id="footer">푸터</div>
    </div>
  </body>
  <scrip src="https://unpkg.com/axios/dist/axios.min.js"></scrip>
  <script src="/JS/layout.js"></script>
  {% block script %} {% endblock %}
</html>
